* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

p {
    text-align: center;
}

ul {
    display: inline-block;
    list-style-type: lower-alpha;
    width: 50vw;
    background-color: blanchedalmond;
    border-radius: 20px;
    box-shadow: 5px, 5px, 5px, 5px;
}

.start_Header {
    background-color: burlywood;
    border-radius: 50px;
    margin-bottom: 20px;
}

.hidden_Main, .hidden_Score {
    color: white;
    background-color: burlywood;
    border-radius: 50px;
}

.not_Hidden_Main {
    background-color: burlywood;
    border-radius: 50px;
    margin-bottom: 20px
}

.hidden_List {
    color: white;
    background-color: white;
}

.hidden_Score {
    background-color: darksalmon;
}

.not_Hidden_List > li {
    background-color: rgba(255, 00, 00, 1);
    padding: 5px;
    margin: 15px;
    max-width: 40vw;
    min-width: 40vw;
    border-radius: 10px;
    text-align: left;
}

.not_Hidden_List > li:hover {
    background-color: rgba(255, 00, 00, 0.4);
}

.not_Hidden_Score {
    color: red;
}

#your_Score {
    color: red;
    size: 50px;
    font-weight: bold;
}

h1 {
    font-size: 50px;
    color: black;
    margin: 0px;
}

#replay_Game, #begin_button {
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: 25px;
}

body {
    display: inline-block;
    background-color: darksalmon;
}

#final_Screen {
    background-color: burlywood;
    border-radius: 50px;
}